@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.navbar-dark {
  color: rgb(58, 49, 44);
}
section a.btn-primary {
  width: 30%;
  transform: translateX(10em);
  margin-bottom: 5px;
}
section a.btn-dark {
  width: 30%;
  transform: translateX(10em);
  margin-bottom: 5px;
}
